@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fuentes */


@font-face {
  font-family: "Arial";
  src: url("/fonts/Arial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("/fonts/Arial-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BrownPro";
  src: url("/fonts/BrownPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("/fonts/Mont-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("/fonts/Mont-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Mont";
  src: url("/fonts/Mont-Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  src: url("/fonts/MyriadPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}


input::placeholder {
  color: #828282; /* Replace with your desired color */
  opacity: 1;  /* Ensure the placeholder is fully visible */
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


/* html[data-theme="dark"] {

} */



/* html[data-theme="light"] {
  
} */

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

.questionnaireProgressScroll::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #e0e0e0;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #848d5a;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}

.noScrollBar::-webkit-scrollbar-track {
  display: none;
}

.noScrollBar::-webkit-scrollbar-thumb {
  display: none;
}



.togglePanel {
  transform: translateX(-50%) translateY(-30%) scaleX(0) scaleY(0);
  opacity: 0;
}


/* @media (min-width: 768px) {
  .projectName {
    writing-mode: vertical-rl;
  }
} */







@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}