@tailwind base;
@tailwind components;
@tailwind utilities;


input::placeholder {
  color: #828282; /* Replace with your desired color */
  opacity: 1;  /* Ensure the placeholder is fully visible */
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}


/* html[data-theme="dark"] {

} */



/* html[data-theme="light"] {
  
} */

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}

.questionnaireProgressScroll::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

*::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #e0e0e0;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #848d5a;
}

.noScrollBar::-webkit-scrollbar {
  display: none;
}

.noScrollBar::-webkit-scrollbar-track {
  display: none;
}

.noScrollBar::-webkit-scrollbar-thumb {
  display: none;
}



.togglePanel {
  transform: translateX(-50%) translateY(-30%) scaleX(0) scaleY(0);
  opacity: 0;
}


@media (min-width: 768px) {
  .projectName {
    writing-mode: vertical-rl;
  }
}